body {
	font-family: 'Arial', sans-serif;
	background-color: #f8f9fa;
	padding: 20px;
}

.container {
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin-top: 20px;
}

h2 {
	color: #343a40;
}

table {
	width: 100%;
	margin-top: 20px;
	border-collapse: collapse;
}

th,
td {
	border: 1px solid #dee2e6;
	padding: 10px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}