<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>

	<!--開発環境用設定 -->
	<springProfile name="dev">
		<property name="logFilePath" value="/tmp/dev/" />
		<property name="logFileName" value="app" ></property>
		<property name="logLevel" value="DEBUG" />
	</springProfile>

	<!--uat環境用設定 -->
	<springProfile name="uat">
		<property name="logFilePath" value="C:/tmp/uat/" />
		<property name="logFileName" value="app" />
		<property name="logLevel" value="INFO" />
	</springProfile>

	<!--production環境用設定 -->
	<springProfile name="production">
		<property name="logFilePath" value="C:/tmp/production/" />
		<property name="logFileName" value="app" />
		<property name="logLevel" value="INFO" />
	</springProfile>

	<!-- コンソール出力 -->
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] [%class{0}.%method]- %msg%n</pattern>
		</encoder>
	</appender>

	<!-- アプリケーションログのファイル書き出し -->
	<appender name="APPLIATION_LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--ファイル名設定 -->
		<file>${logFilePath}${logFileName}.log</file>
		<append>true</append>
		<!--ログファイルのローテーション設定 -->
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logFilePath}${logFileName}.%d{yyyy-MM-dd}_%i.log.zip</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>31</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
		<!--ログ出力フォーマット設定 -->
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] [%class{0}.%method] - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>DENY</onMatch>
			<onMismatch>ACCEPT</onMismatch>
		</filter>
	</appender>

	<!-- ファイル出力ERRORレベル -->
	<appender name="APPLIATION_ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] [%class{0}.%method] - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<file>${logFilePath}error.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${logFilePath}error.log.%d{yyyy-MM-dd}.%i.zip
			</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
		</rollingPolicy>
	</appender>

	<logger name="com.spring.practice" additivity="false" level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="APPLIATION_LOG" />
		<appender-ref ref="APPLIATION_ERROR" />
	</logger>

	<!-- ルート -->
	<root level="DEBUG">
		<appender-ref ref="APPLIATION_LOG" />
		<appender-ref ref="APPLIATION_ERROR" />
	</root>
</configuration>

